<div *ngIf="resume">
  <md-card>
    <form>
      <md-card-content>
        <md-input-container>
          <input md-input required [(ngModel)]="resume.name" name="name" placeholder="Name">
        </md-input-container>
        <md-input-container>
          <input md-input required [(ngModel)]="resume.surname" name="surname" placeholder="Surname">
        </md-input-container>
        <md-input-container>
          <input md-input type="date" required [(ngModel)]="resume.birthdate" name="birthdate" placeholder="Birthday">
        </md-input-container>
        <md-select required [(ngModel)]="resume.gender" name="birthdate" placeholder="Gender">
          <md-option *ngFor="let gender of genders" [value]="gender.value">{{gender.title}}</md-option>
        </md-select>
        <md-input-container>
          <textarea md-input required [(ngModel)]="resume.address" name="address" placeholder="Address">
          </textarea>
        </md-input-container>
        <md-input-container>
          <textarea md-input required [(ngModel)]="resume.presentation" name="presentation" placeholder="Presentation" html-text>
          </textarea>
        </md-input-container>

        <h5> Jobs: </h5>
        <job [job]="job" [removable]="true" (delete)="deleteJob($event)" *ngFor="let job of resume.past_jobs"></job>
        <br/>
        <md-input-container>
          <input md-input type="date" [(ngModel)]="newJob.beginning" name="beginning" placeholder="Beginning">
        </md-input-container>
        <md-input-container>
          <input md-input type="date" [(ngModel)]="newJob.end" name="end" placeholder="End">
        </md-input-container>
        <md-input-container>
          <input md-input [(ngModel)]="newJob.company" name="company" placeholder="Company">
        </md-input-container>
        <md-input-container>
          <input md-input [(ngModel)]="newJob.job" name="job" placeholder="Job">
        </md-input-container>
        <md-input-container>
          <input md-input [(ngModel)]="newJob.description" name="description" placeholder="Description">
        </md-input-container>
        <button md-button (click)="addNewJob()">Add</button>

        <h5> Qualifications: </h5>
        <qualif [qualif]="qualif" [removable]="true" (delete)="deleteQualif($event)" *ngFor="let qualif of resume.qualifications"></qualif>
        <br/>
        <md-input-container>
          <input md-input type="date" [(ngModel)]="newQualif.obtention" name="obtention" placeholder="Obtention">
        </md-input-container>
        <md-input-container>
          <input md-input [(ngModel)]="newQualif.name" name="name" placeholder="Name">
        </md-input-container>
        <md-input-container>
          <input md-input [(ngModel)]="newQualif.location" name="location" placeholder="Location">
        </md-input-container>
        <md-input-container>
          <input md-input [(ngModel)]="newQualif.organization" name="organization" placeholder="Organization">
        </md-input-container>
        <md-input-container>
          <input md-input [(ngModel)]="newQualif.description" name="description" placeholder="Description">
        </md-input-container>
        <button md-button (click)="addNewQualif()">Add</button>

        <h5> Keywords: </h5>
        <keywords [keywords]="resume.keywords" [editable]="true"></keywords>
        <br/>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="save()">Save</button>
        <button md-button (click)="cancel()">Cancel</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
